.card_project{
    position: relative;
    width: 450px;
    height: 320px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.face{
    position: absolute;
    width: 450px;
    height: 320px;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.front > img{
    position: absolute;
    width: 450px;
    height: 320px;
    object-fit: center;
}

.front > h3{
    position: absolute;
    bottom: 0;
    width: 450px;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.link{
    border-top: solid 1px white;
    height: 50px;
    line-height: 50px;
}

.link > a{
    color: white;
}

.back > h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.back > p{
    letter-spacing: 1px;
}

.card_project:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card_project:hover .back{
    transform: perspective(600px) rotateY(360deg);
}